# traefik.toml
defaultEntryPoints = ["http", "https"]
[entryPoints]
  [entryPoints.http]
  address = ":9980"
    [entryPoints.http.redirect]
      entryPoint = "https"
graceTimeOut = 10
logLevel = "DEBUG"

[file]
[backends]
{{range gets "/containers/*/labels/traefik.enable"}}
{{end}}

[frontends]
{{range gets "/containers/*/labels/traefik.enable"}}
{{end}}
